* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.calculator {
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  overflow: hidden;
  text-align: center;
  justify-content: space-between;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 5px 9px rgb(19, 17, 17);
}

.display {
  background: #fff;
  font-size: 25px;
  text-align: right;
  padding: 3px 10px;
}
.display span {
 background-color: rgb(251, 247, 247);
  font-size: 15px;
  color: rgb(7, 7, 7);
 
}

hr {
  border: 3px solid rgb(250, 4, 4);
  color: #000;
}

button {
 
  outline: none;
  border: none;
  font-size: 20px;
  color: rgb(253, 251, 251);
  padding: 16px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.sym-con {
  display: flex;
}
.sym-con button {
  flex: 1 1 25%;
  background: rgb(50, 5, 250);
}
.num-con {
  display: flex;
  flex-wrap: wrap;
  background: rgb(249, 3, 3);
}
.num-con button {
  flex: 1 1 33.333%;
  background: rgb(255, 2, 2);
}
